.add-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
    width: 35vmax;
    height: 7vmin;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    position: relative;
    animation-name: opacityAppContainer;
    animation-duration: 5s;
    animation-timing-function: ease-out;
}
.add-container form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.add-container form input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    text-align: center;
    font-size: 1.5vmax;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background: linear-gradient(180deg, #6e6d72, #6e6d70);
}
.add-container form .button-container {
    width: 15%;
    height: 80%;
    margin: 0 3px;
}
.add-container form .button-container button {
    width: 100%;
    height: 100%;
    color: #fbfcfe;
    font-size: 1vmax;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
}

/* keyframe */
@keyframes opacityAppContainer {
    0% {
        top: 360px;
    }
    50% {
        top: -150px;
    }
    75% {
        top: 30px;
    }
    100% {
        top: 0px;
    }
}
