.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 10%;
    padding: 5px;
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
}
.header-container img {
    width: 100%;
}
.header-container h1 {
    font-size: 1.3vmax;
    text-align: center;
}
