* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #322748, #4e447f);
    font-family: GeForce;
}
/* End Body */

/* app-container */
.app-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 40vmax;
    min-height: 50vmin;
    /* border: 1px solid white; */
}
/* End app-container */

/* header-container */
.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.header-container img {
    width: 30%;
}
.header-container h1 {
    font-size: 2vmax;
    color: #fff;
}
/* End header-container */

/* todoshow-Container */
.todoshow-container {
    width: 100%;
    height: 5vmin;
    margin: 10px 0;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #4e447f;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 5px;
    /* border: 1px solid red; */
}
.todoshow-container p {
    width: 75%;
    font-size: 1.5vmax;
    color: white;
}
.todoshow-container .button-container {
    width: 10%;
    height: 100%;
}
.todoshow-container .button-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 5px;
    background: #322748;
    color: white;
    border: none;
    font-size: 1.3vmax;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
/* end todoshow-Container */

/* form-input-container */
.form-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5vmin;
    padding: 5px;
    background: #4e447f;
    box-shadow: 0 3px 10px #322748;
}
.form-input-container input {
    width: 85%;
    color: white;
    font-weight: bold;
    font-size: 1.5vmax;
    background: transparent;
    outline: none;
    text-align: center;
    /* border: none; */
}
.form-input-container form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.form-input-container .button-container {
    width: 13%;
    height: 100%;
}
.form-input-container .button-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    margin: 0 5px;
    background: #322748;
    color: white;
    border: none;
    font-size: 1.3vmax;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
/* End form-input-container */
