* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: GeForce;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: #1d2538;
}

.app-container {
    border: 1px solid #7c8da5;
    color: #e0e1dc;
}
