* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: GeForce;
}

/* app-container */
.app-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #ebe6e9, #fbf8fb);
}
