* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #1c1c1e, #1c1c1a);
    font-family: GeForce;
}

/* app-container */
.app-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    min-width: 50vmin;
    min-height: 40vmax;
    /* border: 1px solid red; */
}
/* End app-container */

/* header-container */
.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header-container img {
    width: 50%;
}
.header-container h1 {
    font-size: 2vmax;
    color: #fefefe;
}
/* End header-container*/

/* todolist-container */
.todolist-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
    height: 5vmin;
    margin: 7px 0;
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    background: #94fc05;
}
.todolist-container h1 {
    width: 75%;
    font-size: 1.5vmax;
}
.todolist-container .button-container {
    width: 10%;
    height: 90%;
}
.todolist-container .button-container button {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9vmax;
    background: #fefefe;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}
/* End todolist-container */

/* Form Input */
.forminput-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
    height: 5vmin;
    margin: 7px 0;
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    background: #94fc05;
}
.forminput-container form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90%;
}
.forminput-container form input {
    width: 80%;
    height: 100%;
    text-align: center;
    background: #1c1c1c;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fefefe;
    font-size: 2vmin;
}
.forminput-container form .button-container {
    width: 20%;
    height: 90%;
    margin: 0 5px;
}
.forminput-container form .button-container button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9vmax;
    background: #fefefe;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}
/* End Form Input */

/* Modal Container */
.modal-container {
    max-width: 100vw;
    min-height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(251, 246, 253, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-container .box-modal {
    width: 30vw;
    height: 30vmin;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(180deg, #94fc05, #b7ef70);
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.2);
}
.modal-container .box-modal h2 {
    font-size: 2.5vmax;
}
.modal-container .box-modal .box-modal-input-container {
    width: 100%;
    height: 50%;
    /* border: 1px solid red; */
}
.modal-container .box-modal .box-modal-input-container input {
    width: 100%;
    height: 35%;
    text-align: center;
    background: #1c1c1c;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fefefe;
    font-size: 2vmin;
}
.modal-container
    .box-modal
    .box-modal-input-container
    .box-modal-input-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35%;
    /* border: 1px solid red; */
}
.modal-container
    .box-modal
    .box-modal-input-container
    .box-modal-input-button-container
    .button-container {
    width: 20%;
    height: 80%;
    margin: 0 5px;
}
.modal-container
    .box-modal
    .box-modal-input-container
    .box-modal-input-button-container
    .button-container
    button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vmax;
    background: #fefefe;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}
/* End Modal Container */
